In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
import time
from matplotlib import pyplot as plt

In [4]:
urla = "https://www.carmanford.ca/vehicles/?v1=car&st=price,asc&view=grid"

In [5]:
driver=webdriver.Firefox(executable_path="C:/Users/DELL/Downloads/geckodriver.exe")
#set the value of executable path
driver.get(urla)

In [6]:
page_source=driver.page_source

In [7]:
#parsing the page
soup=BeautifulSoup(page_source,'html.parser')

In [8]:
#All the data present in a page is present in div class : row grid-row
data=soup.findAll('div',{"class":"row grid-row"})
#printing the extracted data of a single page
for info in data:
    print(info.text)

      Save This Car  Get Price Alerts Buy Me!  2013 NISSAN ROGUE ROGUE S/SV  Located at River City Ford  VIN: JN8AS5MT7DW042169Kilometres: 173,823Condition: UsedStock #: 042169TRBody Style: Wagon       Initial Price  $12,999    Savings  $-3,100  Hover for details.  Dealer Discount$3,100   Sale Price  $9,899  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $76
										/bw
									  Click to open payment calculator
									5.99% for 72 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2014 FORD FOCUS SE  Located at River City Ford  VIN: 1FADP3F29EL133598Kilometres: 112,628Condition: UsedStock #: 133598TRBody Style: Sedan       Initial Price  $10,999    Savings  $-1,100  Hover for details.  Dealer Discount$1,100   Sale Price  $9,899  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $67
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2015 NISSAN SENTRA SR  Located at River City Ford  VIN: 3N1AB7AP2FL644701Kilometres: 79,848Condition: UsedStock #: 644701TRBody Style: Sedan       Initial Price  $13,999    Savings  $-1,500  Hover for details.  Dealer Discount$1,500   Sale Price  $12,499  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $84
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2016 FORD FOCUS SE  Located at River City Ford  VIN: 1FADP3K20GL346903Kilometres: 84,124Condition: UsedStock #: 346903PRBody Style: Hatchback       Initial Price  $15,222    Savings  $-1,723  Hover for details.  Dealer Discount$1,723   Sale Price  $13,499  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $91
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2015 FORD FOCUS SE  Located at River City Ford  VIN: 1FADP3F2XFL296987Kilometres: 37,727Condition: UsedStock #: 296987PRBody Style: Sedan       Initial Price  $14,999    Savings  $-1,100  Hover for details.  Dealer Discount$1,100   Sale Price  $13,899  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $94
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2017 FORD FOCUS SE  Located at Carman Ford   VIN: 1FADP3F24HL293103Kilometres: 82,221Condition: UsedStock #: 293103PCBody Style: 4dr Sdn       Initial Price  $15,999    Savings  $-1,000  Hover for details.  Dealer Discount$1,000   Sale Price  $14,999  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $101
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2017 CHEVROLET IMPALA LT  Located at River City Ford  VIN: 2G1105SA8H9175355Kilometres: 145,269Condition: UsedStock #: 175355TRBody Style: Sedan       Initial Price  $17,999    Savings  $-2,100  Hover for details.  Dealer Discount$2,100   Sale Price  $15,899  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $107
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2018 FORD FUSION All wheel drive w/leather  Located at Carman Ford   VIN: 3FA6P0T90JR182791Kilometres: 24,528Condition: UsedStock #: 182791TCBody Style: AWD          Sale Price  $20,999  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $141
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2019 TOYOTA COROLLA HATCHBACK BASE  Located at River City Ford  VIN: JTNK4RBE3K3028558Kilometres: 19,919Condition: UsedStock #: 028558TRBody Style: Hatchback          Sale Price  $22,899  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $154
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2019 FORD FUSION HYBRID TITANIUM  Located at River City Ford  VIN: 3FA6P0RU8KR227361Kilometres: 28,229Condition: UsedStock #: 227361PRBody Style: Sedan       Initial Price  $25,999    Savings  $-2,100  Hover for details.  Dealer Discount$2,100   Sale Price  $23,899  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $161
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2019 FORD FUSION HYBRID TITANIUM  Located at River City Ford  VIN: 3FA6P0RU2KR227341Kilometres: 25,792Condition: UsedStock #: 227341PRBody Style: Sedan       Initial Price  $24,999    Savings  $-1,100  Hover for details.  Dealer Discount$1,100   Sale Price  $23,899  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $161
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2016 LINCOLN MKZ AWD  Located at River City Ford  VIN: 3LN6L2JKXGR604612Kilometres: 59,015Condition: UsedStock #: 604612PRBody Style: Sedan       Initial Price  $25,999    Savings  $-2,100  Hover for details.  Dealer Discount$2,100   Sale Price  $23,899  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $161
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2019 FORD FUSION HYBRID TITANIUM  Located at Carman Ford   VIN: 3FA6P0RU6KR227360Kilometres: 20,659Condition: UsedStock #: 227360PCBody Style: FWD          Sale Price  $23,999  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $162
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2019 FORD FUSION SE  Located at River City Ford  VIN: 3FA6P0HD6KR278956Condition: NewStock #: 278956REngine: 1.5L I-4Body Style: Sedan   Initial Price  $30,640    Savings  $-6,000  Hover for details. 2019 Clearance  Savings
				$5,000Dealership Discount
				$1,000    Sale Price  $24,640  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $149
										/bw
									  Click to open payment calculator
									5.99% for 96 Months
			View Details
		  Compare        Save This Car  Get Price Alerts Buy Me!  2018 FORD TAURUS LIMITED  Located at Carman Ford   VIN: 1FAHP2J81JG132276Kilometres: 38,083Condition: UsedStock #: 132276TCBody Style: AWD          Sale Price  $24,699  Pricing excludes licensing and tax.
									+ Tax								   Est. Finance Payment  $166
										/bw
									  Click to open payment calculator
									5.99% for 84 Months
			View Details
		  Compare

In [9]:
#Finding the titles of cars using find_all
#All the titles are present in div class : vehicle-card__full-details
car_titles = []
a=soup.findAll('div',{"class":"vehicle-card__full-details"})
for i in a :
    titles=i.find('h3',{"class":"vehicle-card__title mb-xs"}).text.strip()#all the titles are inside h3 class
    print(titles)#printing titles
    car_titles.append(titles)#appending values
print(car_titles)#printing titles
len(car_titles)#printing length of list

2013 NISSAN ROGUE ROGUE S/SV
2014 FORD FOCUS SE
2015 NISSAN SENTRA SR
2016 FORD FOCUS SE
2015 FORD FOCUS SE
2017 FORD FOCUS SE
2017 CHEVROLET IMPALA LT
2018 FORD FUSION All wheel drive w/leather
2019 TOYOTA COROLLA HATCHBACK BASE
2019 FORD FUSION HYBRID TITANIUM
2019 FORD FUSION HYBRID TITANIUM
2016 LINCOLN MKZ AWD
2019 FORD FUSION HYBRID TITANIUM
2019 FORD FUSION SE
2018 FORD TAURUS LIMITED
['2013 NISSAN ROGUE ROGUE S/SV', '2014 FORD FOCUS SE', '2015 NISSAN SENTRA SR', '2016 FORD FOCUS SE', '2015 FORD FOCUS SE', '2017 FORD FOCUS SE', '2017 CHEVROLET IMPALA LT', '2018 FORD FUSION All wheel drive w/leather', '2019 TOYOTA COROLLA HATCHBACK BASE', '2019 FORD FUSION HYBRID TITANIUM', '2019 FORD FUSION HYBRID TITANIUM', '2016 LINCOLN MKZ AWD', '2019 FORD FUSION HYBRID TITANIUM', '2019 FORD FUSION SE', '2018 FORD TAURUS LIMITED']

15

In [10]:
#Finding the location of cars using find_all
#All the location are present in p class : vehicle-card__location
car_location = []
b = soup.findAll('p',{"class":"vehicle-card__location"})
for i in b :
    print(i.text)
    car_location.append(i.text.replace("Located at ",""))#apppending inside a separate list
print(car_location)#printing list
len(car_location)#length of list

 Located at River City Ford
 Located at River City Ford
 Located at River City Ford
 Located at River City Ford
 Located at River City Ford
 Located at Carman Ford
 Located at River City Ford
 Located at Carman Ford
 Located at River City Ford
 Located at River City Ford
 Located at River City Ford
 Located at River City Ford
 Located at Carman Ford
 Located at River City Ford
 Located at Carman Ford
[' River City Ford', ' River City Ford', ' River City Ford', ' River City Ford', ' River City Ford', ' Carman Ford ', ' River City Ford', ' Carman Ford ', ' River City Ford', ' River City Ford', ' River City Ford', ' River City Ford', ' Carman Ford ', ' River City Ford', ' Carman Ford ']

15

In [11]:
vin = []
mileage = []
condition = []
body_style = []
stock = []
# taking empty lists

spec= soup.find_all("li",{"class":"detailed-specs__single"}) #all the specifications are inside li class: detailed-specs__single

for i in spec:
    
    if 'VIN' in i.text: #if present
        vin.append(i.text.replace("VIN: ",""))#then append
    if 'Kilometres' in i.text:#if present
        mileage.append(i.text.replace("Kilometres: ",""))#then append
    if 'Condition' in i.text:#if present
        condition.append(i.text.replace("Condition: ",""))#then append
    if 'Body Style' in i.text:#if present
        body_style.append(i.text.replace("Body Style: ",""))#then append
    if 'Stock' in i.text:#if present
        stock.append(i.text.replace("Stock #: ",""))#then append
        
#printing individual lists        
print(vin)
print(mileage)
print(condition)
print(body_style)
print(stock)

['JN8AS5MT7DW042169', '1FADP3F29EL133598', '3N1AB7AP2FL644701', '1FADP3K20GL346903', '1FADP3F2XFL296987', '1FADP3F24HL293103', '2G1105SA8H9175355', '3FA6P0T90JR182791', 'JTNK4RBE3K3028558', '3FA6P0RU8KR227361', '3FA6P0RU2KR227341', '3LN6L2JKXGR604612', '3FA6P0RU6KR227360', '3FA6P0HD6KR278956', '1FAHP2J81JG132276']
['173,823', '112,628', '79,848', '84,124', '37,727', '82,221', '145,269', '24,528', '19,919', '28,229', '25,792', '59,015', '20,659', '38,083']
['Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'Used', 'New', 'Used']
['Wagon', 'Sedan', 'Sedan', 'Hatchback', 'Sedan', '4dr Sdn', 'Sedan', 'AWD', 'Hatchback', 'Sedan', 'Sedan', 'Sedan', 'FWD', 'Sedan', 'AWD']
['042169TR', '133598TR', '644701TR', '346903PR', '296987PR', '293103PC', '175355TR', '182791TC', '028558TR', '227361PR', '227341PR', '604612PR', '227360PC', '278956R', '132276TC']

In [12]:
#Finding the msrp of cars using find_all
#All the msrp are present in div class : price-block
msrp = []
c = soup.findAll('div',{"class":"price-block"})
for i in c :
    sp=i.findAll('div',{"class":"price-block__price price-block__price--md price-block__price--grey"})#digging further
    for j in sp:
        s=j.find('span',{"class":"df aifs"}).text.split("df aifs")[0]#actual values are inside span class :df aifs
        print(s)#printing msrp
        msrp.append(s)#appending in a list
print(msrp)#printing list
len(msrp)#length of list

$12,999
$10,999
$13,999
$15,222
$14,999
$15,999
$17,999
$25,999
$24,999
$25,999
$30,640
['$12,999', '$10,999', '$13,999', '$15,222', '$14,999', '$15,999', '$17,999', '$25,999', '$24,999', '$25,999', '$30,640']

11

In [13]:
#Finding the savings on cars using find_all
#All the  savings  are present in div class : vehicle-card__price-wrap
savings = []
c = soup.findAll('div',{"class":"vehicle-card__price-wrap"})
for i in c :
    sp=i.findAll('div',{"class":"price-block__price price-block__price--sm price-block__price--primary"})#digging further
    for j in sp:
        s=j.find('span',{"class":"df aifs"}).text.split("df aifs")[0]#actual values are inside span class :df aifs
        print(s)#printing initial prices
        savings.append(s)#appending in a list
print(savings)#printing list
len(savings)#length of list

$-3,100
$-1,100
$-1,500
$-1,723
$-1,100
$-1,000
$-2,100
$-2,100
$-1,100
$-2,100
$-6,000
['$-3,100', '$-1,100', '$-1,500', '$-1,723', '$-1,100', '$-1,000', '$-2,100', '$-2,100', '$-1,100', '$-2,100', '$-6,000']

11

In [14]:
#Finding the sales price on cars using find_all
#All the  sales price  are present in div class : price-block__single price-block--expanded
car_price = []
c = soup.findAll('div',{"class":"price-block__single price-block--expanded"})
for i in c :
    sp=i.findAll('div',{"class":"price-block__price price-block__price--lg price-block__price--dark"})#digging further
    for j in sp:
        s=j.find('span',{"class":"df aifs"}).text.split("df aifs")[0]#actual values are inside span class :df aifs
        print(s)#printing prices
        car_price.append(s)#appending in a list
print(car_price)#printing list
len(car_price)#length of list

$9,899
$9,899
$12,499
$13,499
$13,899
$14,999
$15,899
$20,999
$22,899
$23,899
$23,899
$23,899
$23,999
$24,640
$24,699
['$9,899', '$9,899', '$12,499', '$13,499', '$13,899', '$14,999', '$15,899', '$20,999', '$22,899', '$23,899', '$23,899', '$23,899', '$23,999', '$24,640', '$24,699']

15

In [15]:
#creating dict of scrapped data
dict = {
    'Title' : car_titles ,
    'Location' : car_location , 
    'Mileage ': mileage ,
    'VIN' : vin ,
    'Stock' : stock ,
    'Condition ': condition,
    'Body Style' : body_style ,
    'Stock' : stock,
    'MSRP' : msrp,
    'Savings' : savings,
    'Price' : car_price
}

In [16]:
df = pd.DataFrame.from_dict(dict,orient = 'index').T
df

,Title,Location,Mileage,VIN,Stock,Condition,Body Style,MSRP,Savings,Price
0,2013 NISSAN ROGUE ROGUE S/SV,River City Ford,"173,823",JN8AS5MT7DW042169,042169TR,Used,Wagon,"$12,999","$-3,100","$9,899"
1,2014 FORD FOCUS SE,River City Ford,"112,628",1FADP3F29EL133598,133598TR,Used,Sedan,"$10,999","$-1,100","$9,899"
2,2015 NISSAN SENTRA SR,River City Ford,"79,848",3N1AB7AP2FL644701,644701TR,Used,Sedan,"$13,999","$-1,500","$12,499"
3,2016 FORD FOCUS SE,River City Ford,"84,124",1FADP3K20GL346903,346903PR,Used,Hatchback,"$15,222","$-1,723","$13,499"
4,2015 FORD FOCUS SE,River City Ford,"37,727",1FADP3F2XFL296987,296987PR,Used,Sedan,"$14,999","$-1,100","$13,899"
5,2017 FORD FOCUS SE,Carman Ford,"82,221",1FADP3F24HL293103,293103PC,Used,4dr Sdn,"$15,999","$-1,000","$14,999"
6,2017 CHEVROLET IMPALA LT,River City Ford,"145,269",2G1105SA8H9175355,175355TR,Used,Sedan,"$17,999","$-2,100","$15,899"
7,2018 FORD FUSION All wheel drive w/leather,Carman Ford,"24,528",3FA6P0T90JR182791,182791TC,Used,AWD,"$25,999","$-2,100","$20,999"
8,2019 TOYOTA COROLLA HATCHBACK BASE,River City Ford,"19,919",JTNK4RBE3K3028558,028558TR,Used,Hatchback,"$24,999","$-1,100","$22,899"
9,2019 FORD FUSION HYBRID TITANIUM,River City Ford,"28,229",3FA6P0RU8KR227361,227361PR,Used,Sedan,"$25,999","$-2,100","$23,899"
10,2019 FORD FUSION HYBRID TITANIUM,River City Ford,"25,792",3FA6P0RU2KR227341,227341PR,Used,Sedan,"$30,640","$-6,000","$23,899"
11,2016 LINCOLN MKZ AWD,River City Ford,"59,015",3LN6L2JKXGR604612,604612PR,Used,Sedan,None,None,"$23,899"
12,2019 FORD FUSION HYBRID TITANIUM,Carman Ford,"20,659",3FA6P0RU6KR227360,227360PC,Used,FWD,None,None,"$23,999"
13,2019 FORD FUSION SE,River City Ford,"38,083",3FA6P0HD6KR278956,278956R,New,Sedan,None,None,"$24,640"
14,2018 FORD TAURUS LIMITED,Carman Ford,None,1FAHP2J81JG132276,132276TC,Used,AWD,None,None,"$24,699"

In [17]:
split_title = df["Title"].str.split(" ", n = 3, expand = True) 
# splitting Tile column

In [18]:
df["Make Year"]= split_title[0]

In [19]:
df["Make"]= split_title[1]

In [20]:
df["Model"]= split_title[2]

In [22]:
df.drop(columns =["Title"], inplace = True)

In [23]:
df

,Location,Mileage,VIN,Stock,Condition,Body Style,MSRP,Savings,Price,Make Year,Make,Model
0,River City Ford,"173,823",JN8AS5MT7DW042169,042169TR,Used,Wagon,"$12,999","$-3,100","$9,899",2013,NISSAN,ROGUE
1,River City Ford,"112,628",1FADP3F29EL133598,133598TR,Used,Sedan,"$10,999","$-1,100","$9,899",2014,FORD,FOCUS
2,River City Ford,"79,848",3N1AB7AP2FL644701,644701TR,Used,Sedan,"$13,999","$-1,500","$12,499",2015,NISSAN,SENTRA
3,River City Ford,"84,124",1FADP3K20GL346903,346903PR,Used,Hatchback,"$15,222","$-1,723","$13,499",2016,FORD,FOCUS
4,River City Ford,"37,727",1FADP3F2XFL296987,296987PR,Used,Sedan,"$14,999","$-1,100","$13,899",2015,FORD,FOCUS
5,Carman Ford,"82,221",1FADP3F24HL293103,293103PC,Used,4dr Sdn,"$15,999","$-1,000","$14,999",2017,FORD,FOCUS
6,River City Ford,"145,269",2G1105SA8H9175355,175355TR,Used,Sedan,"$17,999","$-2,100","$15,899",2017,CHEVROLET,IMPALA
7,Carman Ford,"24,528",3FA6P0T90JR182791,182791TC,Used,AWD,"$25,999","$-2,100","$20,999",2018,FORD,FUSION
8,River City Ford,"19,919",JTNK4RBE3K3028558,028558TR,Used,Hatchback,"$24,999","$-1,100","$22,899",2019,TOYOTA,COROLLA
9,River City Ford,"28,229",3FA6P0RU8KR227361,227361PR,Used,Sedan,"$25,999","$-2,100","$23,899",2019,FORD,FUSION
10,River City Ford,"25,792",3FA6P0RU2KR227341,227341PR,Used,Sedan,"$30,640","$-6,000","$23,899",2019,FORD,FUSION
11,River City Ford,"59,015",3LN6L2JKXGR604612,604612PR,Used,Sedan,None,None,"$23,899",2016,LINCOLN,MKZ
12,Carman Ford,"20,659",3FA6P0RU6KR227360,227360PC,Used,FWD,None,None,"$23,999",2019,FORD,FUSION
13,River City Ford,"38,083",3FA6P0HD6KR278956,278956R,New,Sedan,None,None,"$24,640",2019,FORD,FUSION
14,Carman Ford,None,1FAHP2J81JG132276,132276TC,Used,AWD,None,None,"$24,699",2018,FORD,TAURUS

In [ ]:
#Dataframe to csv
df.to_csv('carmanford_ca.csv')