In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
import time
from matplotlib import pyplot as plt

In [2]:
urla = "http://www.westmanautos.ca/vehiclesearch.aspx?q=&cat_id=63&minprice=0&maxprice=99999&sort=item_posteddate%20DESC&tags=&make=&model=&year=&transmission=&kms=&vehicletype=Car"

In [3]:
driver=webdriver.Firefox(executable_path="C:/Users/DELL/Downloads/geckodriver.exe")
#set the value of executable path
driver.get(urla)

In [4]:
page_source=driver.page_source

In [5]:
#parsing the page
soup=BeautifulSoup(page_source,'html.parser')

In [6]:
#All the data present in a page is present in id maincontentbox
data=soup.findAll('div',{"id":"maincontentbox"})
#printing the extracted data of a single page
for info in data:
    print(info.text)

//<![CDATA[
var theForm = document.forms['ctl00'];
if (!theForm) {
    theForm = document.ctl00;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>






VEHICLE SEARCH RESULTS
Date Posted
Lowest Price
Highest Price
Most Views
Sorted by


 2019 Subaru Impreza$21,000 2019 Subaru Impreza   Bodytype:  Car  Mileage:  30695  Transmission:  Automatic  Exterior Colour:  /  Interior Colour:  Black  Options:   /...More >> 2018 Chevrolet Cruze$16,295 2018 Chevrolet Cruze   Bodytype:  Car  Mileage:  61182  Transmission:  Automatic  Exterior Colour:  Rhino  Interior Colour:  Black  Options...More >> 2016 Cadillac CTS$24,589 2016 Cadillac CTS   Bodytype:  Car  Mileage:  102837  Transmission:  Automatic  Exterior Colour:  /  Interior Colour:  Black  Options:   />...More >> 2018 Chevrolet Cruze$17,600 2018 Chevrolet Cruze   Bodytype:  Car  Mileage:  13436  Transmission:  Automatic  Exterior Colour:  /  Interior Colour:  Black  Options:   ...More >> 2015 Dodge Dart$8,898 2015 Dodge Dart   Bodytype:  Car  Mileage:  131478  Transmission:  Automatic  Exterior Colour:  Passion Red Pearl  Interior Colour:  Black ...More >> 2004 Chevrolet Cavalier$4,979 2004 Chevrolet Cavalier   Bodytype:  Car  Mileage:  92050  Transmission:  Standard  Exterior Colour:  /  Interior Colour:  Black  Options: ...More >> 2017 Chevrolet Cruze$15,000 2017 Chevrolet Cruze   Bodytype:  Car  Mileage:  55040  Transmission:  Automatic  Exterior Colour:  /  Interior Colour:  Black  Options:   ...More >> 2016 Chevrolet Cruze$14,450 2016 Chevrolet Cruze   Bodytype:  Car  Mileage:  0  Transmission:  Automatic  Exterior Colour:  /  Interior Colour:  Black  Options:   /> 0...More >> 2016 Chevrolet Impala$12,995 2016 Chevrolet Impala   Bodytype:  Car  Mileage:  138903  Transmission:  Automatic  Exterior Colour:  /  Interior Colour:  Black  Options: ...More >> 2012 Ford Focus$10,898 2012 Ford Focus   Bodytype:  Car  Mileage:  52260  Transmission:  Automatic  Exterior Colour:  /  Interior Colour:  Black  Options:   Say H...More >> 2011 Volkswagen GTI$ Call 2011 Volkswagen GTI   Bodytype:  Car  Mileage:  159378  Transmission:  Automatic  Exterior Colour:  Carbon Steel Metallic  Interior Colour:...More >> 2009 Honda Civic$11,488 2009 Honda Civic   Bodytype:  Car  Mileage:  104513  Transmission:  Automatic  Exterior Colour:  Gray  Interior Colour:  Black  Options:  A...More >> 2017 Honda Civic$17,488 2017 Honda Civic   Bodytype:  Car  Mileage:  89019  Transmission:  Automatic  Exterior Colour:  Crystal Black Pearl  Interior Colour:  Blac...More >> 2017 Chevrolet Malibu$17,997 2017 Chevrolet Malibu   Bodytype:  Car  Mileage:  26309  Transmission:  Automatic  Exterior Colour:  /  Interior Colour:  Beige  Options:  ...More >> 2012 Hyundai Elantra$9,988 2012 Hyundai Elantra   Bodytype:  Car  Mileage:  98311  Transmission:  Automatic  Exterior Colour:  Sparkling Ruby  Interior Colour:  Black...More >> 2017 Honda Civic$19,988 2017 Honda Civic   Bodytype:  Car  Mileage:  54872  Transmission:  Standard  Exterior Colour:  White Orchid Pearl  Interior Colour:  Black ...More >> 2015 Chevrolet Cruze$9,988 2015 Chevrolet Cruze   Bodytype:  Car  Mileage:  139890  Transmission:  Standard  Exterior Colour:  Rainforest Green Metallic  Interior Col...More >> 2016 Chevrolet Impala$16,696 2016 Chevrolet Impala   Bodytype:  Car  Mileage:  75197  Transmission:  Automatic  Exterior Colour:  /  Interior Colour:  Black  Options:  ...More >> 2015 Honda Civic Sedan$18,895 2015 Honda Civic Sedan   Bodytype:  Car  Mileage:  52328  Transmission:  Automatic  Exterior Colour:  /  Interior Colour:  Black  Options: ...More >> 2017 Chevrolet Cruze$16,195 2017 Chevrolet Cruze   Bodytype:  Car  Mileage:  34655  Transmission:  Automatic  Exterior Colour:  Crystal White Tricoat  Interior Colour:...More >> 2017 Volkswagen Jetta$16,330 2017 Volkswagen Jetta   Bodytype:  Car  Mileage:  91405  Transmission:  Automatic  Exterior Colour:  BLACK  Stock number:  7455A ...More >>2012 Toyota Camry$13,998 2012 Toyota Camry   Bodytype:  Car  Mileage:  146824  Transmission:  Automatic  Exterior Colour:  White  Stock number:  7405A ...More >>2017 Nissan MURANO$27,998 2017 Nissan MURANO   Bodytype:  Car  Mileage:  54577  Transmission:  Automatic  Exterior Colour:  BRILLIANT SILVER MET  Stock number:  FN20...More >>2004 Nissan MAXIMA$5,998 2004 Nissan MAXIMA   Bodytype:  Car  Mileage:  169014  Transmission:  Automatic  Exterior Colour:  BROWN  Stock number:  FN0184B ...More >>
1 2Next>






REFINE YOUR SEARCH


Vehicle Type

All
Car
Truck
SUV
Van

Make

No preference
Acura
Audi
BMW
Buick
Cadillac
Chevrolet
Chrysler
Daewoo
Dodge
Fiat
Ford
GMC
Honda
Hyundai
Infiniti
Isuzu
Jaguar
Jeep
Kia
Land Rover
Lexus
Lincoln
Mazda
Mercedes-Benz
Mercury
Mitsubishi
Nissan
Oldsmobile
Plymouth
Pontiac
Porsche
Renault
Saab
Saturn
Subaru
Suzuki
Toyota
Volkswagen
Volvo

Year

No preference
1990-1995
1996-2000
2001-2005
2006-2010
2011 or newer
Older than 1990

Transmission

No preference
Automatic
Standard

Kilometers

No preference
0-50 km
51-100 km
101-150 km
151-200 km
200+ km

Price

$0
1,000
3,000
5,000
7,500
10,000
12,500
15,000
20,000
25,000
30,000
40,000
50,000
99,999
 to
99,999
50,000
40,000
30,000
25,000
20,000
15,000
12,500
10,000
7,500
5,000
3,000
1,000

In [7]:
#Finding the titles of cars using find_all
#All the titles are present in div id : listingitem_contentbox_title
car_titles = []
a=soup.findAll('div',{"id":"listingitem_contentbox_title"})
for i in a :
    print(i.text)# printing titles
    car_titles.append(i.text)# appending values
print(car_titles)# printing titles
len(car_titles)# printing length of list

2019 Subaru Impreza
2018 Chevrolet Cruze
2016 Cadillac CTS
2018 Chevrolet Cruze
2015 Dodge Dart
2004 Chevrolet Cavalier
2017 Chevrolet Cruze
2016 Chevrolet Cruze
2016 Chevrolet Impala
2012 Ford Focus
2011 Volkswagen GTI
2009 Honda Civic
2017 Honda Civic
2017 Chevrolet Malibu
2012 Hyundai Elantra
2017 Honda Civic
2015 Chevrolet Cruze
2016 Chevrolet Impala
2015 Honda Civic Sedan
2017 Chevrolet Cruze
2017 Volkswagen Jetta
2012 Toyota Camry
2017 Nissan MURANO
2004 Nissan MAXIMA
['2019 Subaru Impreza', '2018 Chevrolet Cruze', '2016 Cadillac CTS', '2018 Chevrolet Cruze', '2015 Dodge Dart', '2004 Chevrolet Cavalier', '2017 Chevrolet Cruze', '2016 Chevrolet Cruze', '2016 Chevrolet Impala', '2012 Ford Focus', '2011 Volkswagen GTI', '2009 Honda Civic', '2017 Honda Civic', '2017 Chevrolet Malibu', '2012 Hyundai Elantra', '2017 Honda Civic', '2015 Chevrolet Cruze', '2016 Chevrolet Impala', '2015 Honda Civic Sedan', '2017 Chevrolet Cruze', '2017 Volkswagen Jetta', '2012 Toyota Camry', '2017 Nissan MURANO', '2004 Nissan MAXIMA']

24

In [8]:
#Finding the car price using find_all
#All the car price are present in div id :listingitem_contentbox_price
car_price = []
a = soup.find_all('div',{"id":"listingitem_contentbox_price"})
for i in a : 
    print(i.text)#printing car price
    car_price.append(i.text)#appending values
print(car_price)#printing car price
len(car_price)#printing length of list

$21,000
$16,295
$24,589
$17,600
$8,898
$4,979
$15,000
$14,450
$12,995
$10,898
$ Call
$11,488
$17,488
$17,997
$9,988
$19,988
$9,988
$16,696
$18,895
$16,195
$16,330
$13,998
$27,998
$5,998
['$21,000', '$16,295', '$24,589', '$17,600', '$8,898', '$4,979', '$15,000', '$14,450', '$12,995', '$10,898', '$ Call', '$11,488', '$17,488', '$17,997', '$9,988', '$19,988', '$9,988', '$16,696', '$18,895', '$16,195', '$16,330', '$13,998', '$27,998', '$5,998']

24

In [9]:
#creating dict of scrapped data
dict = {
    'Title' : car_titles ,
    'Price': car_price 
}

In [10]:
#creating dataframe from dict
df = pd.DataFrame.from_dict(dict,orient = 'index').T
df

                      Title    Price
0       2019 Subaru Impreza  $21,000
1      2018 Chevrolet Cruze  $16,295
2         2016 Cadillac CTS  $24,589
3      2018 Chevrolet Cruze  $17,600
4           2015 Dodge Dart   $8,898
5   2004 Chevrolet Cavalier   $4,979
6      2017 Chevrolet Cruze  $15,000
7      2016 Chevrolet Cruze  $14,450
8     2016 Chevrolet Impala  $12,995
9           2012 Ford Focus  $10,898
10      2011 Volkswagen GTI   $ Call
11         2009 Honda Civic  $11,488
12         2017 Honda Civic  $17,488
13    2017 Chevrolet Malibu  $17,997
14     2012 Hyundai Elantra   $9,988
15         2017 Honda Civic  $19,988
16     2015 Chevrolet Cruze   $9,988
17    2016 Chevrolet Impala  $16,696
18   2015 Honda Civic Sedan  $18,895
19     2017 Chevrolet Cruze  $16,195
20    2017 Volkswagen Jetta  $16,330
21        2012 Toyota Camry  $13,998
22       2017 Nissan MURANO  $27,998
23       2004 Nissan MAXIMA   $5,998

In [ ]:
#Dataframe to csv
df.to_csv('westmanautos.csv')