In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
import time
from matplotlib import pyplot as plt

In [4]:
urla = input(("Enter url : "))
# "https://www.nott.ca/used-vehicles/"

In [5]:
driver=webdriver.Firefox(executable_path="C:/Users/DELL/Downloads/geckodriver.exe")
#set the value of executable path
driver.get(urla)

In [6]:
page_source=driver.page_source

In [7]:
#parsing the page
soup=BeautifulSoup(page_source,'html.parser')

In [16]:
#Finding the titles of cars using find_all
#All the titles are present in div class : col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12
a = soup.find_all("div",{"class" :"col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12"})
#taking an empty list
car_titles = []
#printing all the separate titles using for loop
for i in a:
    titles = i.find('div',{"class":"title"}).text #diggig down for titles
    print(titles)# printing values
    #appending values in a separate empty list
    car_titles.append(titles)  
print(car_titles)#printing car titles list
len(car_titles)#length of car titles list

2020 TESLA MODEL 3  THIS UNIT SOLD! Call To Order
2004 PORSCHE CARRERA 2 911  **RWD 6-Speed**
2018 TESLA MODEL S 100D  **SOLD**
2020 TESLA MODEL 3  IN TRANSIT - LEASE AVAILABLE !!!
2015 LEXUS NX 200T Executive  BSM System/HUD/NAV Turbo
2017 HYUNDAI TUCSON SE  2.0L AWD
2016 TESLA MODEL S 75D  New Body Style Tesla Super Low kms!
2019 MERCEDES BENZ C300 Wagon  Sport Wagon/Turbo AMG Styling Pkg/Pano/Prem pkg  Luxury for Less!
2019 MERCEDES BENZ GLC300 4Matic  Coupe/AMG Styling Pkg
2016 TESLA MODEL S P90D  AWD/Autopilot/Smart Air Suspension
2017 FORD MUSTANG GT  Performance Steeda/5.0L
2015 BMW 550I xDrive  M-Sport/Tech Pkg 445hp
2020 AUDI Q3 Progressiv *SOLD* S-Line/Turbo/NEW!
2016 MERCEDES BENZ C300 4Matic  AMG Sport Pkg/Pano Roof
2016 MERCEDES BENZ METRIS
2017 MERCEDES BENZ C300 Coupe  4Matic/AMG Style Pkg BC Car!
2018 ACURA RDX Elite  Parking Sensors/Remote Start/All Brand new Brakes
2018 INFINITI Q50 3.0t Luxe  AWD/Turbo/only $265 B/W!
2015 VOLKSWAGEN TIGUAN 2.0 TSI TRENDLINE PLUS  All-Wheel-Drive
2016 FORD F-150 LARIAT
2017 AUDI A4 QUATTRO  Turbo/Sunroof
2015 FORD EXPLORER  Limited  Navigation/Sunroof/AWD
2015 NISSAN PATHFINDER SL  SL/3.5L/AWD
2019 TOYOTA SIENNA LE  Power Doors/8-Pass
2016 NISSAN MURANO SL  Rear Cross Traffic/Bose/AWD
2016 LEXUS IS 300 Luxury  Heated Steering/Cross Traffic/Brand New Brakes!
2017 LEXUS RX 350  Active Blind Spot/Moonroof
2010 PORSCHE PANAMERA  4S  Low Mileage/V8/Bose
2014 FOREST RIVER ROCKWOOD Signature Ultra Lite  34 Feet/$45k New! Double slide out!
2017 LAND ROVER EVOQUE HSE  Pano-Roof/Meridian Sound
['2020 TESLA MODEL 3  THIS UNIT SOLD! Call To Order', '2004 PORSCHE CARRERA 2 911  **RWD 6-Speed**', '2018 TESLA MODEL S 100D  **SOLD**', '2020 TESLA MODEL 3  IN TRANSIT - LEASE AVAILABLE !!!', '2015 LEXUS NX 200T Executive  BSM System/HUD/NAV Turbo', '2017 HYUNDAI TUCSON SE  2.0L AWD', '2016 TESLA MODEL S 75D  New Body Style Tesla Super Low kms!', '2019 MERCEDES BENZ C300 Wagon  Sport Wagon/Turbo AMG Styling Pkg/Pano/Prem pkg  Luxury for Less!', '2019 MERCEDES BENZ GLC300 4Matic  Coupe/AMG Styling Pkg', '2016 TESLA MODEL S P90D  AWD/Autopilot/Smart Air Suspension', '2017 FORD MUSTANG GT  Performance Steeda/5.0L', '2015 BMW 550I xDrive  M-Sport/Tech Pkg 445hp', '2020 AUDI Q3 Progressiv *SOLD* S-Line/Turbo/NEW!', '2016 MERCEDES BENZ C300 4Matic  AMG Sport Pkg/Pano Roof', '2016 MERCEDES BENZ METRIS', '2017 MERCEDES BENZ C300 Coupe  4Matic/AMG Style Pkg BC Car!', '2018 ACURA RDX Elite  Parking Sensors/Remote Start/All Brand new Brakes', '2018 INFINITI Q50 3.0t Luxe  AWD/Turbo/only $265 B/W!', '2015 VOLKSWAGEN TIGUAN 2.0 TSI TRENDLINE PLUS  All-Wheel-Drive', '2016 FORD F-150 LARIAT', '2017 AUDI A4 QUATTRO  Turbo/Sunroof', '2015 FORD EXPLORER  Limited  Navigation/Sunroof/AWD', '2015 NISSAN PATHFINDER SL  SL/3.5L/AWD', '2019 TOYOTA SIENNA LE  Power Doors/8-Pass', '2016 NISSAN MURANO SL  Rear Cross Traffic/Bose/AWD', '2016 LEXUS IS 300 Luxury  Heated Steering/Cross Traffic/Brand New Brakes!', '2017 LEXUS RX 350  Active Blind Spot/Moonroof', '2010 PORSCHE PANAMERA  4S  Low Mileage/V8/Bose', '2014 FOREST RIVER ROCKWOOD Signature Ultra Lite  34 Feet/$45k New! Double slide out!', '2017 LAND ROVER EVOQUE HSE  Pano-Roof/Meridian Sound']

30

In [17]:
#All the mileage are present in table class : options-primary
b = soup.findAll("table",{"class" :"options-primary"})
#taking an empty list
car_mileage = []
#printing all the separate mileage using for loop
for i in b:
    x = i.find("tr",{"class" :"listing_category_mileage"}).text.replace("Kilometers: ","")#digging further to get mileage
    print(x.strip())
        #print(p)# printing values
    #appending values in a separate empty list
    car_mileage.append(x.strip())  
print(car_mileage)#printing car mileage list
len(car_mileage)#length of car mileage list

10
115068
24302
100
69023
68930
27284
25120
14500
49178
1422
58491
726
64746
59197
38415
51174
42288
59395
145094
86785
76061
45002
42185
112950
49106
70176
71135
1
69254
['10', '115068', '24302', '100', '69023', '68930', '27284', '25120', '14500', '49178', '1422', '58491', '726', '64746', '59197', '38415', '51174', '42288', '59395', '145094', '86785', '76061', '45002', '42185', '112950', '49106', '70176', '71135', '1', '69254']

30

In [10]:
#All the drivetrain are present in table class : options-primary
c = soup.findAll("table",{"class" :"options-primary"})
#taking an empty list
car_drivetrain = []
#printing all the separate drivetrain using for loop
for i in c:
    x = i.find("tr",{"class" :"listing_category_drivetrain"}).text.replace("Drivetrain: ","")#digging further to get drivetrain
    print(x.strip())# printing values
    #appending values in a separate empty list
    car_drivetrain.append(x.strip())  
print(car_drivetrain)#printing car drivetrain list
len(car_drivetrain)#length of car drivetrain list

Rear Wheel Drive
Rear Wheel Drive
All Wheel Drive
Rear Wheel Drive
All Wheel Drive
All Wheel Drive
All Wheel Drive
All Wheel Drive
Rear Wheel Drive
All Wheel Drive
Rear Wheel Drive
All Wheel Drive
All Wheel Drive
All Wheel Drive
Rear Wheel Drive
All Wheel Drive
All Wheel Drive
All Wheel Drive
All Wheel Drive
All Wheel Drive
All Wheel Drive
All Wheel Drive
All Wheel Drive
Front Wheel Drive
All Wheel Drive
All Wheel Drive
All Wheel Drive
All Wheel Drive
-
All Wheel Drive
['Rear Wheel Drive', 'Rear Wheel Drive', 'All Wheel Drive', 'Rear Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'Rear Wheel Drive', 'All Wheel Drive', 'Rear Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'Rear Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'Front Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', 'All Wheel Drive', '-', 'All Wheel Drive']

30

In [11]:
#All the bodystyle are present in table class : options-primary
c = soup.findAll("table",{"class" :"options-primary"})
#taking an empty list
car_bodystyle  = []
#printing all the separate bodystyle using for loop
for i in c:
    x = i.find("tr",{"class" :"listing_category_body-style"}).text.replace("Body Style: ","")#digging further to get bodystyle 
    print(x.strip())# printing values
    #appending values in a separate empty list
    car_bodystyle .append(x.strip())  
print(car_bodystyle )#printing car bodystyle  list
len(car_bodystyle )#length of car bodystyle  list

SEDAN
CONVERTIBLE
SEDAN
SEDAN
SUV
SUV
SEDAN
WAGON
SUV
SEDAN
COUPE
SEDAN
SUV
SEDAN
VAN
COUPE
SUV
SEDAN
SUV
TRUCK
SEDAN
SUV
SUV
VAN
SUV
SEDAN
SUV
HATCHBACK
-
SUV
['SEDAN', 'CONVERTIBLE', 'SEDAN', 'SEDAN', 'SUV', 'SUV', 'SEDAN', 'WAGON', 'SUV', 'SEDAN', 'COUPE', 'SEDAN', 'SUV', 'SEDAN', 'VAN', 'COUPE', 'SUV', 'SEDAN', 'SUV', 'TRUCK', 'SEDAN', 'SUV', 'SUV', 'VAN', 'SUV', 'SEDAN', 'SUV', 'HATCHBACK', '-', 'SUV']

30

In [12]:
#All the exterior are present in div class : options-primary
b = soup.findAll("table",{"class" :"options-primary"})
#taking an empty list
car_exterior = []
#printing all the separate exterior using for loop
for i in b:
    x = i.find("tr",{"class" :"listing_category_exterior-color"}).text.replace("Exterior Color: ","")#digging further to get exterior
    print(x.strip())# printing values
    #appending values in a separate empty list
    car_exterior.append(x.strip())  
print(car_exterior)#printing car exterior list
len(car_exterior)#length of car exterior list

WHITE
BLACK
MATTE GREY
WHITE
BLACK
BLACK
WHITE
BLACK
POLAR WHITE
WHITE
RUBY RED
WHITE
WHITE
BLACK
WHITE
WHITE
WHITE
BLACK
BROWN
SILVER
BLACK
GRAY
GRAY
SILVER
WHITE
WHITE
WHITE
GREY
WHITE
WHITE
['WHITE', 'BLACK', 'MATTE GREY', 'WHITE', 'BLACK', 'BLACK', 'WHITE', 'BLACK', 'POLAR WHITE', 'WHITE', 'RUBY RED', 'WHITE', 'WHITE', 'BLACK', 'WHITE', 'WHITE', 'WHITE', 'BLACK', 'BROWN', 'SILVER', 'BLACK', 'GRAY', 'GRAY', 'SILVER', 'WHITE', 'WHITE', 'WHITE', 'GREY', 'WHITE', 'WHITE']

30

In [13]:
#All the interior are present in div class : options-primary
b = soup.findAll("table",{"class" :"options-primary"})
#taking an empty list
car_interior = []
#printing all the separate interior using for loop
for i in b:
    x = i.find("tr",{"class" :"listing_category_interior-color"}).text.replace("Interior Color: ","")#digging further to get interior
    print(x.strip())# printing values
    #appending values in a separate empty list
    car_interior.append(x.strip())  
print(car_interior)#printing car interior list
len(car_interior)#length of car interior list

BLACK
BLACK
BLACK
BLACK
BLACK
GREY
BLACK
BROWN
BEIGE
BLACK
BLACK
BEIGE
BLACK
BLACK
BLACK
BLACK
BLACK
GRAPHITE METALLIC
BLACK
BLACK
BLACK
BLACK
BLACK
BLACK
TAN
BLACK
BLACK
GREY
BROWN
BLACK
['BLACK', 'BLACK', 'BLACK', 'BLACK', 'BLACK', 'GREY', 'BLACK', 'BROWN', 'BEIGE', 'BLACK', 'BLACK', 'BEIGE', 'BLACK', 'BLACK', 'BLACK', 'BLACK', 'BLACK', 'GRAPHITE METALLIC', 'BLACK', 'BLACK', 'BLACK', 'BLACK', 'BLACK', 'BLACK', 'TAN', 'BLACK', 'BLACK', 'GREY', 'BROWN', 'BLACK']

30

In [14]:
#Finding the price of cars using find_all
#All the price are present in div class : price
c = soup.findAll("div",{"class" :"price"})
#taking an empty list
car_price = []
#printing all the separate price using for loop
for i in c:
    prices = i.find("div",{"class" :"figure"}).text.strip()#digging further to get price
    print(prices)# printing values
    #appending values in a separate empty list
    car_price.append(prices)  
print(car_price)#printing car price list
len(car_price)#length of car price list

$29,500
$55,990
$31,480
$18,980
$61,820
$47,980
$58,720
$79,820
$43,990
$36,650
$44,480
$31,480
$29,888
$36,888
$35,480
$31,450
$16,980
$36,720
$23,720
$27,990
$26,480
$29,980
$22,810
$29,510
$39,480
$35,920
$19,688
$41,700
['$29,500', '$55,990', '$31,480', '$18,980', '$61,820', '$47,980', '$58,720', '$79,820', '$43,990', '$36,650', '$44,480', '$31,480', '$29,888', '$36,888', '$35,480', '$31,450', '$16,980', '$36,720', '$23,720', '$27,990', '$26,480', '$29,980', '$22,810', '$29,510', '$39,480', '$35,920', '$19,688', '$41,700']

28

In [18]:
#creating dict of scrapped data
dict = {
    'Title' : car_titles ,
    'Mileage' : car_mileage , 
    'Drive Train' : car_drivetrain ,  
    'Price ': car_price,
    'Interior' : car_interior,
    'Exterior' : car_exterior,
    'Body Style' :car_bodystyle,
    'Drive Train' :car_drivetrain
}

In [19]:
#creating dataframe from dict
df = pd.DataFrame.from_dict(dict,orient = 'index').T
df

,Title,Mileage,Drive Train,Price,Interior,Exterior,Body Style
0,2020 TESLA MODEL 3 THIS UNIT SOLD! Call To Order,10,Rear Wheel Drive,"$29,500",BLACK,WHITE,SEDAN
1,2004 PORSCHE CARRERA 2 911 **RWD 6-Speed**,115068,Rear Wheel Drive,"$55,990",BLACK,BLACK,CONVERTIBLE
2,2018 TESLA MODEL S 100D **SOLD**,24302,All Wheel Drive,"$31,480",BLACK,MATTE GREY,SEDAN
3,2020 TESLA MODEL 3 IN TRANSIT - LEASE AVAILAB...,100,Rear Wheel Drive,"$18,980",BLACK,WHITE,SEDAN
4,2015 LEXUS NX 200T Executive BSM System/HUD/N...,69023,All Wheel Drive,"$61,820",BLACK,BLACK,SUV
5,2017 HYUNDAI TUCSON SE 2.0L AWD,68930,All Wheel Drive,"$47,980",GREY,BLACK,SUV
6,2016 TESLA MODEL S 75D New Body Style Tesla S...,27284,All Wheel Drive,"$58,720",BLACK,WHITE,SEDAN
7,2019 MERCEDES BENZ C300 Wagon Sport Wagon/Tur...,25120,All Wheel Drive,"$79,820",BROWN,BLACK,WAGON
8,2019 MERCEDES BENZ GLC300 4Matic Coupe/AMG St...,14500,Rear Wheel Drive,"$43,990",BEIGE,POLAR WHITE,SUV
9,2016 TESLA MODEL S P90D AWD/Autopilot/Smart A...,49178,All Wheel Drive,"$36,650",BLACK,WHITE,SEDAN
10,2017 FORD MUSTANG GT Performance Steeda/5.0L,1422,Rear Wheel Drive,"$44,480",BLACK,RUBY RED,COUPE
11,2015 BMW 550I xDrive M-Sport/Tech Pkg 445hp,58491,All Wheel Drive,"$31,480",BEIGE,WHITE,SEDAN
12,2020 AUDI Q3 Progressiv *SOLD* S-Line/Turbo/NEW!,726,All Wheel Drive,"$29,888",BLACK,WHITE,SUV
13,2016 MERCEDES BENZ C300 4Matic AMG Sport Pkg/...,64746,All Wheel Drive,"$36,888",BLACK,BLACK,SEDAN
14,2016 MERCEDES BENZ METRIS,59197,Rear Wheel Drive,"$35,480",BLACK,WHITE,VAN
15,2017 MERCEDES BENZ C300 Coupe 4Matic/AMG Styl...,38415,All Wheel Drive,"$31,450",BLACK,WHITE,COUPE
16,2018 ACURA RDX Elite Parking Sensors/Remote S...,51174,All Wheel Drive,"$16,980",BLACK,WHITE,SUV
17,2018 INFINITI Q50 3.0t Luxe AWD/Turbo/only $2...,42288,All Wheel Drive,"$36,720",GRAPHITE METALLIC,BLACK,SEDAN
18,2015 VOLKSWAGEN TIGUAN 2.0 TSI TRENDLINE PLUS ...,59395,All Wheel Drive,"$23,720",BLACK,BROWN,SUV
19,2016 FORD F-150 LARIAT,145094,All Wheel Drive,"$27,990",BLACK,SILVER,TRUCK
20,2017 AUDI A4 QUATTRO Turbo/Sunroof,86785,All Wheel Drive,"$26,480",BLACK,BLACK,SEDAN
21,2015 FORD EXPLORER Limited Navigation/Sunroo...,76061,All Wheel Drive,"$29,980",BLACK,GRAY,SUV
22,2015 NISSAN PATHFINDER SL SL/3.5L/AWD,45002,All Wheel Drive,"$22,810",BLACK,GRAY,SUV
23,2019 TOYOTA SIENNA LE Power Doors/8-Pass,42185,Front Wheel Drive,"$29,510",BLACK,SILVER,VAN
24,2016 NISSAN MURANO SL Rear Cross Traffic/Bose...,112950,All Wheel Drive,"$39,480",TAN,WHITE,SUV
25,2016 LEXUS IS 300 Luxury Heated Steering/Cros...,49106,All Wheel Drive,"$35,920",BLACK,WHITE,SEDAN
26,2017 LEXUS RX 350 Active Blind Spot/Moonroof,70176,All Wheel Drive,"$19,688",BLACK,WHITE,SUV
27,2010 PORSCHE PANAMERA 4S Low Mileage/V8/Bose,71135,All Wheel Drive,"$41,700",GREY,GREY,HATCHBACK
28,2014 FOREST RIVER ROCKWOOD Signature Ultra Lit...,1,-,None,BROWN,WHITE,-
29,2017 LAND ROVER EVOQUE HSE Pano-Roof/Meridian...,69254,All Wheel Drive,None,BLACK,WHITE,SUV

In [20]:
#Dataframe to csv
df.to_csv('nott_ca.csv')